<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>

AuthUserFile .htpasswda
AuthName "Title"
AuthType Basic
Require valid-user 